<p id="notice"><%= notice %></p>

<p>
  <strong>Opt0:</strong>
  <%= @regiment_request.opt0 %>
</p>

<p>
  <strong>Opt1:</strong>
  <%= @regiment_request.opt1 %>
</p>

<p>
  <strong>Opt2:</strong>
  <%= @regiment_request.opt2 %>
</p>

<p>
  <strong>Opt3:</strong>
  <%= @regiment_request.opt3 %>
</p>

<p>
  <strong>Opt4:</strong>
  <%= @regiment_request.opt4 %>
</p>

<p>
  <strong>Opt5:</strong>
  <%= @regiment_request.opt5 %>
</p>

<p>
  <strong>Opt6:</strong>
  <%= @regiment_request.opt6 %>
</p>

<p>
  <strong>Opt7:</strong>
  <%= @regiment_request.opt7 %>
</p>

<%= link_to 'Edit', edit_regiment_request_path(@regiment_request) %> |
<%= link_to 'Back', regiment_requests_path %>
