<script>
  $(function() {
    $("#accordion").accordion();
  });
</script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regiment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @regiment.description %>
</p>

<div id="accordion">
  <% @regiment.exercises.each_with_index do |exercise, i| %>
    <h3><%= "#{i}) #{exercise.name}" %></h3>
    <div>
      <p>
        <%= exercise.description %>
      </p>
      <p>
        <%= video_tag exercise.video.url, controls: true, size: '320x240' %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_regiment_path(@regiment) %> |
<%= link_to 'Back', regiments_path %>
